<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ page.title }}</h1>
    <p>
        <a href="api/snacks/">Visit the API service.</a>
    </p>
</body>
</html>